*{
    font-size: 18px;
    font-family: sans-serif;
    padding:0 0;
    margin:0 0;
}
html{
    border-top:8px solid rgb(60, 101, 203);
}
body{
    margin:0 auto;
    width: 95%;
}
.top-nav{
    padding: 0 5px;
    padding-top: 15px;
    padding-bottom: 10px;  
    background-color: rgba(209, 244, 255, 0.453);
}
.head-tag{
    padding-left: 10px;
    color:rgb(60, 101, 203);

}

.head-nav-child{
    display: inline-block;
    padding-left: 50px;
}
a:link{
    text-decoration: none;
    color:rgb(60, 101, 203);
}
a:visited{
    color:rgb(249, 163, 106);
}
article {
    padding:0 auto;
    height: 650px;
    position:relative;
}
article p{
    position: absolute;
    top:50%;
    width: 100%;
    padding:0 auto;
    margin:0 auto;
    text-align: center;
}
footer{
    font-size: 10px;
    text-align: center;
}
footer a{
    font-size: 10px;
}